<div class="calendar <% if (currentDate.month()%2===0) { %>calendar--equal-month<% } %>">
    <div class="calendar__header">
        <span class="calendar-title"><%- calendarHeader.content %></span>
    </div>
    <div class="calendar__body">
        <div class="weekdays">
            <div>
                <div class="calendar-week <%- settings.cssClasses.isEmpty %>"><!-- --></div>
                <% _.forEach(calendarWeekdays, function(weekday) { %>
                <div class="<%- weekday.css %>"><%- weekday.content %></div>
                <% }); %>
            </div>
        </div>
        <div class="weeks">
            <% _.forEach(calendarWeeks, function(week) { %>
            <div class="<%- week.css %>">
                <div class="<%- week.weekNumberCSS %>"><%- week.content %></div>
                <% _.forEach(week.days, function(day) { %>
                <div class="<%- day.css %>" data-iso-date="<%- day.isoDate %>">
                    <button type="button" data-iso-date="<%- day.isoDate %>"><%- day.date.date() %></button>
                </div>
                <% }); %>
            </div>
            <% }); %>
        </div>
    </div>
    <div class="calendar__footer"><%- calendarFooter.content %></div>
</div>

