<div class="calendar">
    <div class="calendar__header"><%- header %></div>
    <div class="calendar__body">
        <div class="weekdays">
            <div>
                <div class="is-empty"><!-- --></div>
                <% _.forEach(weekdays, function(weekday) { %><div class="<%- weekday.css %>"><%- weekday.content %></div><% }); %>
            </div>
        </div>
        <div class="weeks">
            <% _.forEach(weeks, function(week) { %>
            <div class="<%- week.css %>">
                <% _.forEach(week.days, function(day) { %>
                <div class="<%- day.css %>"><%- day.content %></div>
                <% }); %>
            </div>
            <% }); %>
        </div>
    </div>
</div>
