<div class="calendar <% if (state.current_date.month()%2===0) { %>calendar--equal-month<% } %>">
    <div class="calendar__header">
        <div class="month">
            <button class="prev_month">&lt;</button>
            <span class="month-title"><%- calendarHeader.month %></span>
            <button class="next_month">&gt;</button>
        </div>
        <div class="year">
            <button class="prev_year">&lt;</button>
            <span class="year-title"><%- calendarHeader.year %></span>
            <button class="next_year">&gt;</button>
        </div>
    </div>
    <div class="calendar__body">
        <div class="weekdays">
            <div>
                <div class="calendar-week <%- settings.cssClasses.isEmpty %>"><!-- --></div>
                <% _.forEach(calendarWeekdays, function(weekday) { %>
                <div class="<%- weekday.css %>"><%- weekday.content %></div>
                <% }); %>
            </div>
        </div>
        <div class="weeks">
            <% _.forEach(calendarWeeks, function(week) { %>
            <div class="<%- week.css %>">
                <div class="<%- week.weekNumberCSS %>">
                    <span class="min"><%- week.content.min %></span>
                    <span class="long"><%- week.content.long %></span>
                </div>
                <% _.forEach(week.days, function(day) { %>
                <div class="<%- day.css %>" data-iso-date="<%- day.isoDate %>">
                    <button type="button">
                        <span class="min"><%- day.date.date() %></span>
                        <span class="short"><%- day.date.format("L") %></span>
                        <span class="long"><%- day.date.format("dddd LL") %></span>
                    </button>
                </div>
                <% }); %>
            </div>
            <% }); %>
        </div>
    </div>
    <div class="calendar__footer"><%- calendarFooter.content %></div>
</div>

