@mixin calendar-table-layout {
    display: inline-block;

    .calendar__body {
        display: table;
    }

    .weekdays {
        display: table-header-group;

        > div {
            display: table-row;

            > div {
                display: table-cell;
            }
        }
    }

    .weeks {
        display: table-row-group;
    }

    .week {
        display: table-row;
    }

    .day {
        display: table-cell;
    }
}

@mixin calendar-list-layout {
    margin-top: 1em;

    &:first-child {
        margin-top: 0;
    }

    .calendar__header {
        padding-top: 1em;
    }

    .calendar-week {
        text-align: left;

        &.is-empty {
            display: none;
        }
    }

    .weeks,
    .week,
    .day {
        display: block;
    }

    .weekday,
    .day--excess {
        display: none;
    }
}

