@mixin calendar-table-layout {
    display: inline-block;

    .calendar__body {
        display: table;
    }

    .weekdays {
        display: table-header-group;

        > div {
            display: table-row;

            > div {
                display: table-cell;
            }
        }
    }

    .weeks {
        display: table-row-group;
    }

    .week {
        display: table-row;
    }

    .day {
        display: table-cell;
    }
}

@mixin calendar-list-layout {
    margin-top: 1em;

    &:first-child {
        margin-top: 0;
    }

    .calendar__body {
        display: block;
    }

    .calendar-week {
        text-align: left;

        &.is-empty {
            display: none;
        }
    }

    .weeks,
    .week,
    .day {
        display: block;
    }

    .weekday,
    .day--excess {
        display: none;
    }
}


@mixin calendar-list {

    @include calendar-list-layout;

    .calendar-week {
        color: inherit;
        border-bottom: 3px solid #ccc;

        .min {
            display: none;
        }

        .long {
            display: inline;
        }
    }

    .day {
        .min,
        .short {
            display: none;
        }

        .long {
            display: inline;
        }
    }
}

@mixin calendar-table {
    @include calendar-table-layout;

    .day {
        .short,
        .long {
            display: none;
        }

        .min {
            display: inline;
        }
    }

    .calendar-week {
        border-bottom: none;

        .min {
            display: inline;
        }

        .long {
            display: none;
        }
    }
}
