@import "calendar_mixins";

.calendar {
    background-color: white;
    color: #000;

    .calendar__header {
        padding: 1em;
        text-align: center;

        .month,
        .year {
            display: inline-block;
            width: 50%;
        }

        button,
        span {
            display: inline-block;
        }

        button {
            width: 25%;
        }

        span {
            width: 50%;
        }
    }

    .weekday,
    .calendar-week {
        padding: 1em;
        text-align: right;
    }

    .calendar-week {
        font-size: 0.6em;
        padding: 0.6em;
    }

    .day:not(.day--disabled):hover {
        background-color: #ccc;
        button::after {
            content: "hover";
        }
    }

    .weekday,
    .calendar-week,
    .day--excess {
        color: #bbb;
    }

    .weekend {
        background-color: #eee;
    }

    .day--today {
        color: #00c;
        button {
            border-color: #77f;
        }
        button::after {
            content: "today";
        }
    }

    .day--current {
        color: #070;
        button {
            border-color: #7c7;
        }
        button::after {
            content: "current";
        }
    }

    .day--selected {
        button {
            border-color: #f77;
        }
        button::after {
            content: "selected";
            color: #f77;
        }
    }

    .day--disabled {
        color: #c77;
    }

    button {
        display: inline-block;
        width: 100%;
        padding: 1em;
        border: none;
        background-color: transparent;
        text-align: right;

        border: 1px solid transparent;

        font-size: inherit;
        color: inherit;
        position: relative;
        &::after {
            position: absolute;
            bottom: 2px;
            left: 2px;
            right: 2px;
            font-size: 8px;
        }
    }

    @mixin calendar-list {

        @include calendar-list-layout;

        .calendar-week {
            color: inherit;
            border-bottom: 3px solid #ccc;

            .min {
                display: none;
            }

            .long {
                display: inline;
            }
        }

        .day {
            .min,
            .short {
                display: none;
            }

            .long {
                display: inline;
            }
        }
    }

    @mixin calendar-table {
        @include calendar-table-layout;

        .day {
            .short,
            .long {
                display: none;
            }

            .min {
                display: inline;
            }
        }

        .calendar-week {
            border-bottom: none;

            .min {
                display: inline;
            }

            .long {
                display: none;
            }
        }
    }

    @include calendar-table;

    &.calendar--list {
        @include calendar-list;
    }
}

