@import "mixins";

* {
    box-sizing: border-box;
}

body {
    padding: 50px;
    background-color: #333;
    font-family: Helvetica, Arial, sans-serif;

    @media screen and (max-width:767px) {
        padding: 0;
        margin: 0;
    }
}

.datepicker {
    position: relative;

    background-color: white;


    @media screen and (min-width: 768px) {
        display: inline-block;
        padding: 1em;
    }
}

.datepicker__pager {
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;


    a {
        text-decoration: none;
    }

    .previous_year,
    .previous_month {
        float: left;
        margin-right: 1em;
    }

    .next_year,
    .next_month {
        float: right;
        margin-left: 1em;
    }
}

.calendar {
    background-color: white;

    .calendar__header {
        padding: 1em;
        padding-top: 0;
        text-align: center;
    }

    .day,
    .weekday,
    .calendar-week {
        padding: 1em;
        text-align: right;
    }

    .day {
        padding: 0;
        margin: 0;
    }

    .day:not(.day--excess) button:hover {
        background-color: #ccc;
    }

    .weekday button,
    .calendar-week button,
    .day--excess button {
        color: #bbb;
    }

    .weekend button {
        background-color: #eee;
    }

    .day button {
        width: 100%;
        height: 100%;
        border: 1px solid transparent;
        background: transparent;
    }

    .day--today button {
        background-color: #77f;
        color: blue;
    }

    .day--selected button {
        background-color: #ccc;
        color: #000;
        border: 1px solid #000;
    }

    .day--current button {
        background-color: #7e7;
        color: #000;
        border: 1px solid #0f0;
    }



    @media screen and (max-width: 767px) {
        @include calendar-list-layout;

        .calendar__header {
            padding-top: 1em;
        }

        .weekday,
        .day--excess {
            display: none;
        }

        .calendar-week {
            text-align: left;
            color: inherit;

            border-bottom: 3px solid #ccc;

            &::before {
                content: "Week ";
            }
        }

        .day::before {
            content: attr(data-day-name);
            float: left;
            color: #bbb;
        }
    }

    @media screen and (min-width: 768px) {
        display: inline-block;
        @include calendar-table-layout;

    }

}
