* {
  box-sizing: border-box; }

body {
  padding: 50px;
  background-color: #333;
  font-family: Helvetica, Arial, sans-serif; }

.datepicker {
  display: inline-block;
  position: relative;
  padding: 1em;
  background-color: white; }

.datepicker__pager {
  position: absolute;
  top: 1em;
  left: 1em;
  right: 1em; }
  .datepicker__pager a {
    text-decoration: none; }
  .datepicker__pager .previous_year,
  .datepicker__pager .previous_month {
    float: left;
    margin-right: 1em; }
  .datepicker__pager .next_year,
  .datepicker__pager .next_month {
    float: right;
    margin-left: 1em; }

.calendar {
  display: inline-block;
  background-color: white;
  /*
  .day--excess {
      color: transparent;
  }
  */ }
  .calendar .calendar__body {
    display: table; }
  .calendar .weekdays {
    display: table-header-group; }
    .calendar .weekdays > div {
      display: table-row; }
      .calendar .weekdays > div > div {
        display: table-cell; }
  .calendar .weeks {
    display: table-row-group; }
  .calendar .week {
    display: table-row; }
  .calendar .day {
    display: table-cell; }
  .calendar .calendar__header {
    padding: 1em;
    padding-top: 0;
    text-align: center; }
  .calendar .day,
  .calendar .weekday,
  .calendar .calendar-week {
    padding: 1em;
    text-align: right; }
  .calendar .day:not(.day--excess):hover {
    background-color: #ccc; }
  .calendar .weekday,
  .calendar .calendar-week,
  .calendar .day--excess {
    color: #bbb; }
  .calendar .weekend {
    background-color: #eee; }
