* {
  box-sizing: border-box; }

body {
  padding: 50px;
  background-color: #333;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif; }
  @media screen and (max-width: 767px) {
    body {
      padding: 0;
      margin: 0; } }

.dtp {
  display: inline-block; }

.calendars__header {
  padding: 1em;
  padding-bottom: 0;
  background-color: #fff;
  color: #000; }
  .calendars__header .select-today,
  .calendars__header .select-current {
    border: none;
    background-color: transparent;
    font-size: inherit;
    padding: 0; }
  .calendars__header .select-today {
    width: 25%;
    text-align: left; }
  .calendars__header .select-current {
    width: 75%;
    text-align: right; }
    .calendars__header .select-current .min {
      display: inline; }
    .calendars__header .select-current .short,
    .calendars__header .select-current .long {
      display: none; }

.calendars__body {
  text-align: center; }

.datepicker {
  display: none; }
  @media screen and (max-width: 767px) {
    .datepicker {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.6); }
      .datepicker::before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
      .datepicker > div {
        display: inline-block;
        vertical-align: bottom;
        overflow-y: scroll;
        text-align: initial;
        width: 100%;
        max-height: 80%; } }
  @media screen and (min-width: 768px) {
    .datepicker {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.6); }
      .datepicker::before {
        content: "";
        display: inline-block;
        height: 100%;
        vertical-align: middle; }
      .datepicker > div {
        display: inline-block;
        vertical-align: middle;
        overflow-y: scroll;
        text-align: initial;
        max-width: 70%;
        max-height: 70%; } }

.datepicker.is-visible {
  display: block; }

.is-invalid {
  border: 2px solid red;
  background-color: #fcc; }

.datepicker__content {
  background-color: #fff; }

.calendar {
  background-color: white;
  color: #000;
  display: inline-block; }
  .calendar .calendar__header .month,
  .calendar .calendar__header .year {
    display: inline-block;
    width: 50%; }
  .calendar .calendar__header button,
  .calendar .calendar__header span {
    display: inline-block; }
  .calendar .calendar__header button {
    width: 25%; }
  .calendar .calendar__header span {
    width: 50%; }
  .calendar button {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 1em; }
    .calendar button::after {
      position: absolute; }
  .calendar .calendar__header {
    text-align: center; }
    .calendar .calendar__header button {
      padding-top: 0 1em; }
  .calendar .weekday,
  .calendar .calendar-week {
    padding: 1em;
    text-align: right; }
  .calendar .calendar-week {
    font-size: 0.6em;
    padding: 0.6em; }
  .calendar .day:not(.day--disabled):hover {
    background-color: #ccc; }
    .calendar .day:not(.day--disabled):hover button::after {
      content: attr(data-hint-hover); }
  .calendar .weekday,
  .calendar .calendar-week,
  .calendar .day--excess {
    color: #bbb; }
  .calendar .weekend {
    background-color: #eee; }
  .calendar .day--today {
    color: #00c; }
    .calendar .day--today button {
      border-color: #77f; }
    .calendar .day--today button::after {
      content: attr(data-hint-today); }
  .calendar .day--current {
    color: #070; }
    .calendar .day--current button {
      border-color: #7c7; }
    .calendar .day--current button::after {
      content: attr(data-hint-current); }
  .calendar .day--selected button {
    border-color: #f77; }
  .calendar .day--selected button::after {
    content: attr(data-hint-selectable);
    color: #f77; }
  .calendar .day--disabled {
    color: #c77; }
  .calendar button {
    background-color: transparent;
    text-align: right;
    border: 1px solid transparent;
    font-size: inherit;
    color: inherit; }
    .calendar button::after {
      bottom: 2px;
      left: 2px;
      right: 2px;
      font-size: 8px; }
  .calendar .calendar__body {
    display: table; }
  .calendar .weekdays {
    display: table-header-group; }
    .calendar .weekdays > div {
      display: table-row; }
      .calendar .weekdays > div > div {
        display: table-cell; }
  .calendar .weeks {
    display: table-row-group; }
  .calendar .week {
    display: table-row; }
  .calendar .day {
    display: table-cell; }
  .calendar .day .min {
    display: inline; }
  .calendar .day .short,
  .calendar .day .long {
    display: none; }
  .calendar .calendar-week {
    border-bottom: none; }
    .calendar .calendar-week .min {
      display: inline; }
    .calendar .calendar-week .long {
      display: none; }

.calendar--list .calendar {
  min-width: 320px;
  margin-top: 1em; }
  .calendar--list .calendar:first-child {
    margin-top: 0; }
  .calendar--list .calendar .calendar__body {
    display: block; }
  .calendar--list .calendar .calendar-week {
    text-align: left; }
    .calendar--list .calendar .calendar-week.is-empty {
      display: none; }
  .calendar--list .calendar .weeks,
  .calendar--list .calendar .week,
  .calendar--list .calendar .day {
    display: block; }
  .calendar--list .calendar .weekday,
  .calendar--list .calendar .day--excess {
    display: none; }
  .calendar--list .calendar .calendar-week {
    color: inherit;
    border-bottom: 3px solid #ccc; }
    .calendar--list .calendar .calendar-week .min {
      display: none; }
    .calendar--list .calendar .calendar-week .long {
      display: inline; }
  .calendar--list .calendar .day .min,
  .calendar--list .calendar .day .short {
    display: none; }
  .calendar--list .calendar .day .long {
    display: inline; }

.calendar--table .calendar {
  display: inline-block; }
  .calendar--table .calendar .calendar__body {
    display: table; }
  .calendar--table .calendar .weekdays {
    display: table-header-group; }
    .calendar--table .calendar .weekdays > div {
      display: table-row; }
      .calendar--table .calendar .weekdays > div > div {
        display: table-cell; }
  .calendar--table .calendar .weeks {
    display: table-row-group; }
  .calendar--table .calendar .week {
    display: table-row; }
  .calendar--table .calendar .day {
    display: table-cell; }
  .calendar--table .calendar .day .min {
    display: inline; }
  .calendar--table .calendar .day .short,
  .calendar--table .calendar .day .long {
    display: none; }
  .calendar--table .calendar .calendar-week {
    border-bottom: none; }
    .calendar--table .calendar .calendar-week .min {
      display: inline; }
    .calendar--table .calendar .calendar-week .long {
      display: none; }
