@import "popup";

* {
    box-sizing: border-box;
}

body {
    padding: 50px;
    background-color: #333;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;

    @media screen and (max-width:767px) {
        padding: 0;
        margin: 0;
    }
}


@import "datepicker";
@import "calendar";
